<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
</head>
<body>
	<div>
		@RenderBody()
	</div>

	<hr/>
<footer>
	<nav>
		<ul>
			<li>@Html.ActionLink("Start", "Index", "Home")</li>
			
			<li><a href="http://www.mikael.com/demo/othersite.html">Origin</a></li>
			<li>@Html.ActionLink("CSRF", "Index", "Csrf")</li>

			<li>@Html.ActionLink("CSP White list", "CspWhiteList", "Csp")</li>
			<li>@Html.ActionLink("CSP Inline", "CspInline", "Csp")</li>
			<li>@Html.ActionLink("CSP Nounce", "CspNounce", "Csp")</li>
			<li>@Html.ActionLink("CSP Hash", "CspHash", "Csp")</li>
			
			
		</ul>
	</nav>
</footer>

@Styles.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</body>
</html>
